<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www\.koy\.am) [NC]
RewriteRule ^(.*) http://koy.am/$1 [R=301,L]

</IfModule>

DirectoryIndex index.html index.cgi index.php .ht
ErrorDocument 401 http://koy.am/error/401/
ErrorDocument 403 http://koy.am/error/403/
ErrorDocument 404 http://koy.am/error/404/
ErrorDocument 500 http://koy.am/error/500/
